/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

.form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  width: 371px;
  height: 40px;
  margin: 24px auto;
}

.search-images-input {
  box-sizing: border-box;
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
}

.search-images-input:hover {
  border: 1px solid #000;
}

.search-images-input:focus {
  outline: none;
  border: 1px solid #4e75ff;
}

.search-btn {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  color: #fff;
}

.search-btn:hover {
  background: #6c8cff;
}

.loader {
  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  height: 12px;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
}

.loader:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: #4e75ff;
  animation: prog 2s linear infinite;
}

@keyframes prog {
  to {
    width: 100%;
  }
}

.hidden {
  display: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px 20px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1128px;
  height: calc(100vh - 72px);
  box-sizing: border-box;
}

.gallery .gallery-item {
  width: calc((100% - 48px) / 3);
  height: calc((100% - 48px) / 3);
  position: relative;
  overflow: hidden;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.info {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 48px;
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid #808080;
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 10px;
}

.prop {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  margin: 0 8px;
}

.prop-label {
  font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    color: #2e2f42;
}

.prop-value {
  font-size: 12px;
    line-height: 2;
    color: #2e2f42;
}

.load-more-btn{
  position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    cursor: pointer;
    border: none;
      border-radius: 8px;
      padding: 8px 16px;
      width: 125px;
      height: 40px;
      background: #4e75ff;
      font-weight: 500;
      color: #fff;
      visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease;
}

.load-more-btn:not(.hidden) {
  visibility: visible;
  opacity: 1;
}

.load-more-btn:hover,
.load-more-btn:focus {
  background: #6c8cff;
}


